body{
    flex-direction: column;
}
main{
    display: flex;
    flex-direction: row;
    flex: auto;
    color: blue;
    background-color:grey;

}
article{
    flex: 2;
    overflow-y: auto;
}
aside{
    flex: 1;
    overflow-y: auto;
    background-color: black;
    color: green;
}
